@import "parameters";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 90%;
    margin: auto;
}

.main-page-content{
    padding: 2rem 0;

}

h1, h2, h3, h4,
p, a,
label, input{
    font-family: $font-stack;
}

p{
    margin: 0 1rem;
}

// Nav Styling

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;

    .burger{
        position: fixed;
        z-index: 100;
        padding: 1rem;
        margin: 1rem;

        cursor: pointer;

        border-radius: 50%;

        transition: all 200ms ease;
    }

    .burger-background{
        background-color: $light-shade-color;
    }

    .slice{
        position: relative;
        height: 2px;
        width: 1rem;
        margin: 2px;

        border-radius: 5px;
        background-color: $dark-shade-color;

        transition: 
            margin 150ms ease 150ms, 
            transform 150ms ease 150ms, 
            opacity 150ms ease 150ms,
            ;

            &:nth-child(2){
                width: 0.5rem;
            }
    }

    .reveal-nav-burger{
        // transform: translateX(80vw);
        padding: 0;
        margin: 2rem;

        & > .slice{
            margin: -2px;

            &:first-child{
                transform: rotate(45deg) translate(7px,0.3rem);
            }

            &:nth-child(2){
                opacity: 0;
            }

            &:last-child{
                transform: rotate(-45deg) translate(-5px,0.4rem);
            }
            
        }
    }

    .reveal-nav{
        transform: translateX(0vw);
        transition: transform 400ms ease;
    }

    ul{
        position:fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        width: 100%;
        transform: translateX(-100vw);
        
        padding: 2rem 1rem;
        background-color: $main-brand-color;
        
        li{
            list-style-type: none;
            padding: 0 2rem;

            &:first-child{
                padding-top: 2rem;
            }

        }
    }

    .nav-link{
        text-decoration: none;
        color: $light-shade-color;
    }
}

//  Landing/ Hero

.hero{
    height: 100vh;
}

.page-title{
    padding: 60vh 0 0 2rem;


}

// Products

.subsection-heading{
    padding: 10vh 0;
}

.subsection-container{
    display: flex;
    flex-direction: column;
}

.cards{
    padding-bottom: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 1rem;

    h4{
        margin: 0.5rem 0;
    }

    p{
        font-size: 0.75rem;
    }

    .card-content > li{
        list-style-type: disc;
        font-size: 00.75rem;

        margin-left: 2rem;
    }
}


.products{
    background-color: $dark-accent-color;
    color: $light-shade-color;
}

//  Contact Section
.contact-section{
    background-color: $dark-shade-color;
    color: $light-shade-color;
}

.contact-us{
    padding-bottom: 2rem;

    label{
        margin-top: 0.5rem;
    }

    button{
        background-color: $light-shade-color;
        color: $main-brand-color;
        font-weight: 700;
        border-radius: 5px;
        border: transparent 2px solid;
        padding: 0.5rem 0;
        margin-top: 1rem;
        transition: all 200ms;

        &:hover{
            background-color: transparent;
            border: $light-accent-color 2px solid;
            color: $light-accent-color;
        }
    }
}

.contact-page-form{
    padding-top: 2rem;
}

// Meet the team

.team{
    background-color: $dark-accent-color;
    color: $light-shade-color;
}

.services-cards{
    padding-top: 2rem;
}

// Footer
.page-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    background-color: $main-brand-color;
    color: $light-shade-color;

    .social{
        display: flex;
        flex-direction: row;
        align-content: space-around;

        &>li{
            list-style: none;
            margin: auto 1rem;
        }

        .social-links{
            color: $dark-shade-color;
        }

        .social-img{
            height: 2.5rem;
            padding: 0.3rem 0;
        }
    }


    .footer-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
}


@import "desktop"